h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  font-family: helvetica neue; 
  font-size: 14pt;
  line-height: 1.5;
  color: #333;
  background-color: #EEE;
}


img{
  transform: rotate(90deg);
}
