
body {
  

  font-family: helvetica neue; 
  font-size: 14pt;
  line-height: 1.5;
  color: #DF7401;
  background-color: #190718;
  text-align: center;
}


img{
  transform: rotate(90deg);
}



.reverse{
  display: inline-block;
    -moz-transform: scale(-1, 1); 
    -webkit-transform: scale(-1, 1);  
    transform: scale(-1, 1); 
}

img {
 -webkit-filter: invert(100%);  
}










