h1 {
  
  text-align: center;
}

h2 {
  
  text-align: center;
}

body {
  

  font-family: helvetica neue; 
  font-size: 14pt;
  line-height: 1.5;
  color: #333;
  background-color: #EEE;
}


afro{
  transform: rotate(90deg);
}



.reverse{
  display: inline-block;
    -moz-transform: scale(-1, 1); 
    -webkit-transform: scale(-1, 1);  
    transform: scale(-1, 1); 
}












